Repository danielsespitia/proyecto-top, pull requests merged in 2021-01, with the labels that each got.

#84 Client informaion in global store for ePayco modal
  src/components/Reservation/ReservationConfirmPayment.js
  src/pages/ReservationConfirm.js
  src/store/actions/Client.actions.js
  src/store/index.js
  src/store/reducers/Client.reducer.js
Labels: Client, enhancement

#85 Feature hdr006
  src/components/Header/Header.js
  src/components/Header/HeaderStyles.js
  src/components/MiniSearchRestaurant.js
  src/components/fontAwesomeicons/index.js
Labels: Restaurant, enhancement

#86 Fix018
  src/components/Header/Header.js
  src/components/Header/HeaderStyles.js
  src/components/Modals/ModalStyles.js
Labels: bug

#87 Fix reservation form
  public/index.html
  src/components/Reservation/ReservationConfirmPayment.js
  src/pages/ReservationConfirm.js
  src/pages/ResponsePayco.js
Labels: Client, enhancement

#88 fix Restaurant name variable
  src/components/Reservation/ReservationConfirmPayment.js
Labels: Reservation, bug

#89 Fix render message for success reservation
  src/components/ItemShoppingCart.js
  src/pages/ReservationForm.js
  src/store/actions/Reservation.actions.js
  src/store/reducers/Reservation.reducer.js
Labels: Client, bug

#91 Fix019
  src/App.js
  src/components/RestaurantProfileForm/RestauranStyles.js
  src/components/RestaurantProfileForm/RestaurantProfileForm.js
  src/components/styled/DesktopStructure.js
  src/pages/RestaurantProfile/RestaurantProfile.js
  src/pages/RestaurantProfile/RestaurantProfileStyles.js
  src/pages/RestaurantProfileView.js
Labels: Client, Restaurant, wontfix

#92 Reservation form option inputs enhancement
  src/pages/ReservationForm.js
Labels: Reservation, bug, enhancement

#93 Fix searching
  public/favicon.ico
  public/index.html
  src/components/Header/Header.js
  src/components/MiniSearchRestaurant.js
  src/pages/Restaurants.js
Labels: Client, bug

#90 Feature epayco
  src/App.js
  src/components/Reservation/ReservationConfirmPayment.js
  src/components/ResponseReservation.js
  src/pages/ReservationConfirm.js
Labels: Client, Reservation, enhancement

#95 Feature men001
  src/App.js
  src/components/BadgeMenu/BadgeMenu.js
  src/components/BadgeMenu/BadgeStyles.js
  src/components/MenuRestaurant/MenuForm.js
  src/components/MenuRestaurant/MenuStyles.js
  src/components/Modals/ModalBadgeMenu.js
  src/components/Modals/ModalStyles.js
  src/components/fontAwesomeicons/index.js
  src/config/theme.js
  src/index.css
  src/pages/MenuRestaurant.js
  src/pages/RestaurantProfile/RestaurantProfile.js
Labels: Restaurant, enhancement

#96 ORD002 cancel reservation
  src/components/Reservation/ReservationConfirmPayment.js
  src/pages/ReservationForm.js
  src/store/actions/Reservation.actions.js
Labels: Reservation, enhancement

#97 Fix020 change the template for add dishes to a form
  src/components/Modals/ModalBadgeMenu.js
  src/components/Modals/ModalStyles.js
Labels: Restaurant, bug, wontfix

#98 Feature men005
  src/components/BadgeMenu/BadgeMenu.js
  src/components/BadgeMenu/BadgeStyles.js
  src/components/MenuRestaurant/MenuView.js
  src/components/Modals/ModalBadgeMenu.js
  src/components/Modals/ModalStyles.js
  src/pages/MenuRestaurant.js
  src/pages/RestaurantProfileView.js
  src/store/actions/Menu.action.js
  src/store/actions/Restaurant.actions.js
  src/store/index.js
  src/store/reducers/Menu.reducer.js
  src/store/reducers/Restaurant.reducer.js
Labels: Restaurant, enhancement

#101 Feature rsl005
  src/components/BadgeDishReservation/BadgeDish.js
  src/components/BadgeDishReservation/BadgeStyles.js
  src/components/Restaurant.js
  src/components/fontAwesomeicons/index.js
  src/pages/ReservationForm.js
  src/pages/Restaurants.js
  src/store/actions/Menu.action.js
  src/store/actions/Reservation.actions.js
  src/store/reducers/Menu.reducer.js
  src/store/reducers/Reservation.reducer.js
Labels: Client, Menu, Reservation, enhancement

#102 Fix021 rsv
  src/App.js
  src/components/Header/Header.js
  src/components/ItemShoppingCart.js
  src/pages/ReservationConfirm.js
  src/pages/ReservationForm.js
  src/pages/ShoppingCart.js
Labels: Reservation, bug

#103 Feature crv004
  src/App.js
  src/components/ResponseEpayco/ResponseReservation.js
  src/components/ResponseEpayco/ResponseStyles.js
  src/components/ResponseReservation.js
  src/components/fontAwesomeicons/index.js
  src/pages/ResponseEpayco.js
  src/pages/ResponsePayco.js
Labels: Reservation, enhancement

#104 Feature crv004
  package.json
  public/index.html
  src/components/Map.js
  src/components/ResponseEpayco/ResponseReservation.js
  src/components/ResponseEpayco/ResponseStyles.js
  src/hooks/useGoogleAddress.js
  src/pages/ReservationConfirm.js
  src/pages/ResponseEpayco.js
  yarn.lock
Labels: Client, enhancement

#105 Feature err404
  src/App.js
  src/components/PageNotFound/NotFound.js
  src/components/PageNotFound/NotFoundStyles.js
Labels: enhancement

#106 Log003 recovery password
  src/App.js
  src/components/FormSignIn.js
  src/components/emails/PasswordRecovery/PasswordRecoveryForm.js
  src/components/emails/PasswordRecovery/PasswordRecoveryResetForm.js
  src/components/emails/PasswordRecovery/Styles/PasswordRecoveryFormStyles.js
  src/components/emails/PasswordRecovery/Styles/PasswordRecoveryResetStyles.js
  src/pages/emails/PasswordRecovery/PasswordRecovery.js
  src/pages/emails/PasswordRecovery/PasswordRecoveryReset.js
Labels: Client, Emails, enhancement

#107 Feature lod001
  package.json
  src/App.js
  src/components/BadgeMenu/BadgeMenu.js
  src/components/ItemShoppingCart.js
  src/components/MiniLoading.js
  src/components/Modals/ModalBadgeMenu.js
  src/components/PageLoading.js
  src/components/PageNotFound/NotFound.js
  src/components/SanitaryRegister/SanitaryRegisterForm.js
  src/image/loading.svg
  src/pages/MenuRestaurant.js
  src/pages/ReservationForm.js
  src/pages/RestaurantProfile/RestaurantProfile.js
  src/pages/RestaurantProfileView.js
  src/pages/Restaurants.js
  src/pages/SanitaryRegisterCompanion.js
  src/pages/ShoppingCart.js
  yarn.lock
Labels: enhancement

#110 add password recovery for Restaurant
  src/components/emails/PasswordRecovery/PasswordRecoveryForm.js
  src/components/emails/PasswordRecovery/Styles/PasswordRecoveryFormStyles.js
  src/pages/emails/PasswordRecovery/PasswordRecovery.js
Labels: Emails, Restaurant, enhancement

#112 Fix022 men
  package.json
  src/components/BadgeMenu/BadgeMenu.js
  src/components/BadgeMenu/BadgeStyles.js
  src/components/MenuRestaurant/MenuStyles.js
  src/components/MenuRestaurant/MenuView.js
  src/components/Modals/ModalBadgeMenu.js
  src/index.css
  src/pages/MenuRestaurant.js
  src/pages/RestaurantProfile/RestaurantProfile.js
  src/store/AuthContext.js
  src/store/actions/Menu.action.js
  src/store/actions/Restaurant.actions.js
  src/store/reducers/Menu.reducer.js
  yarn.lock
Labels: Menu, Restaurant, bug

#113 add file readme for app
  README.md
Labels: documentation

#115 Img002 logo restaurant profile
  src/pages/RestaurantProfile/RestaurantProfile.js
  src/pages/RestaurantProfile/RestaurantProfileStyles.js
  src/pages/RestaurantProfileView.js
  src/store/actions/Restaurant.actions.js
  src/store/reducers/Restaurant.reducer.js
Labels: Restaurant, enhancement

#116 Fix025
  .gitignore
  package.json
  src/Data.js
  yarn.lock
Labels: Deploy, bug

#118 Bug01
  src/components/BadgeDishReservation/BadgeDish.js
  src/components/BadgeDishReservation/BadgeStyles.js
  src/pages/ReservationForm.js
  src/store/actions/Reservation.actions.js
Labels: Menu, Reservation, bug

#119 Bug02 fix the path for the response epayco
  src/pages/ReservationConfirm.js
Labels: Client, Reservation, bug

#120 Bug03
  src/components/Header/Header.js
  src/components/MiniSearchRestaurant.js
  src/image/Logo.png
  src/store/actions/Restaurant.actions.js
  src/store/reducers/Restaurant.reducer.js
Labels: Search, bug

#123 Img restaurant list render
  src/components/ClientProfileForm/ClientProfileForm.js
  src/components/ClientProfileForm/ClientProfileFormStyles.js
  src/pages/ClientProfile.js
  src/store/actions/Client.actions.js
  src/store/reducers/Client.reducer.js
Labels: Client, enhancement

#122 Bug04
  src/components/Restaurant.js
  src/pages/Restaurants.js
Labels: UI/UX

#125 add logo in restaurant list component
  src/components/Restaurant.js
  src/pages/ReservationForm.js
  src/pages/Restaurants.js
  src/store/actions/Reservation.actions.js
  src/store/reducers/Reservation.reducer.js
Labels: Restaurant, enhancement

#126 Bug06
  src/components/BadgeMenu/BadgeMenu.js
  src/index.css
  src/pages/RestaurantProfile/RestaurantProfile.js
  src/pages/RestaurantProfileView.js
Labels: Menu, Restaurant, UI/UX, bug

#129 Develop
  .gitignore
  package.json
  src/Data.js
  src/components/ActiveReservations.js
  src/components/BadgeDishReservation/BadgeDish.js
  src/components/BadgeDishReservation/BadgeStyles.js
  src/components/BadgeMenu/BadgeMenu.js
  src/components/Carousel/CarouselJSX.js
  src/components/Carousel/CarouselStyles.js
  src/components/ClientProfileForm/ClientProfileForm.js
  src/components/ClientProfileForm/ClientProfileFormStyles.js
  src/components/ClientReservation/ClientReservationJSX.js
  src/components/ClientReservation/ClientReservationStyles.js
  src/components/Header/Header.js
  src/components/MiniSearchRestaurant.js
  src/components/Modals/ModalProfile.js
  src/components/Restaurant.js
  src/image/Logo.png
  src/index.css
  src/pages/ClientProfile.js
  src/pages/ClientReservation.js
  src/pages/Home.js
  src/pages/ReservationConfirm.js
  src/pages/ReservationForm.js
  src/pages/RestaurantProfile/RestaurantProfile.js
  src/pages/RestaurantProfile/RestaurantProfileStyles.js
  src/pages/RestaurantProfileView.js
  src/pages/RestaurantReservations.js
  src/pages/Restaurants.js
  src/store/actions/Client.actions.js
  src/store/actions/ClientReservation.actions.js
  src/store/actions/Reservation.actions.js
  src/store/actions/Restaurant.actions.js
  src/store/actions/RestaurantReservation.actions.js
  src/store/reducers/Client.reducer.js
  src/store/reducers/ClientReservation.reducer.js
  src/store/reducers/Reservation.reducer.js
  src/store/reducers/Restaurant.reducer.js
  src/store/reducers/RestaurantReservation.reducer.js
  yarn.lock
Labels: Deploy

#130 Bug07 Fix UX/UI
  src/components/FormSignIn.js
  src/components/PageLoading.js
  src/components/emails/PasswordRecovery/PasswordRecoveryResetForm.js
  src/components/styled/ContainerContent.js
Labels: UI/UX

#131 change header-profile-miperfil restaurant to profile-view
  src/pages/SignUp.js
Labels: Restaurant, enhancement

#133 Bug08 Fix maps in response
  src/components/Map.js
  src/components/Restaurant.js
  src/hooks/useGoogleAddress.js
  src/pages/ReservationConfirm.js
  src/pages/ResponseEpayco.js
  src/pages/Restaurants.js
  src/store/actions/Reservation.actions.js
  src/store/reducers/Reservation.reducer.js
  src/store/reducers/RestaurantReservation.reducer.js
Labels: Reservation, bug

#135 Warnings fix
  src/components/Carousel/CarouselJSX.js
  src/components/Header/Header.js
  src/components/ItemShoppingCart.js
  src/components/Modals/ModalBadgeMenu.js
  src/components/PendingReservations.js
  src/pages/ClientProfile.js
  src/pages/ClientReservation.js
  src/pages/MenuRestaurant.js
  src/pages/ReservationConfirm.js
  src/pages/ReservationForm.js
  src/pages/RestaurantProfile/RestaurantProfile.js
  src/pages/RestaurantProfileView.js
  src/pages/RestaurantReservations.js
  src/pages/SanitaryRegister.js
  src/pages/SanitaryRegisterCompanion.js
  src/pages/emails/PasswordRecovery/PasswordRecoveryReset.js
  src/store/actions/Client.actions.js
  src/store/actions/Reservation.actions.js
  src/store/actions/Restaurant.actions.js
Labels: bug

#138 Header
  src/components/Header/Header.js
  src/components/Header/HeaderStyles.js
  src/components/Header/SmallScreensNavBar.js
  src/components/fontAwesomeicons/index.js
  src/hooks/useWindowWidthAndHeight.js
Labels: Header, Responsive, enhancement

#141 add miniloading image uploading
  src/pages/ClientProfile.js
  src/pages/RestaurantProfile/RestaurantProfile.js
Labels: Client, Restaurant, bug

#142 add miniloading image uploading (#141)
  src/pages/ClientProfile.js
  src/pages/RestaurantProfile/RestaurantProfile.js
Labels: Deploy

#143 add dispath CLIENT_FINISHED client
  src/store/actions/Client.actions.js
Labels: Client, bug

#144 add dispath CLIENT_FINISHED restaurant (#143)
  src/store/actions/Client.actions.js
Labels: Deploy, bug
